ul {
  list-style: none;
}

li {
  text-align: right;
  width: fit-content;
}

li:hover {
  background-color: white;
  color: black;
  cursor:pointer;
}

#store {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


#headContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#storeProducts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#searchbarContainer {
  display: flex;
  justify-content: center;
}

.page-nav {
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-decoration: underline;
  text-align: right;
  margin:0 1vw 30px 1vw;
}

.page-nav:hover {
  cursor: pointer;
}

#pageCounter {
  margin:0 0 0 15px;
  
}

#pageSelector {
  width: min-content;
  text-align: center;
  height: 70%;
}

#pageSelector::placeholder {
  text-align: center;
}

#shopNav {
  display: flex;
  justify-content: flex-end;
}

#cart {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: bolder;
  text-align: right;
  padding: 1.5% 2%;
}

#pageSelectorContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}