#cartMain {
  display: flex;
  flex-direction: column;
  margin: 0 25vw;
  border: 1px solid white;
  justify-content: center


}

#tabs {
  display: flex;
  justify-content: center;
}

.cart-tab {
  border: 1px dotted white;
  padding: 15px;
  font-size: 15px;
  width: 33.333%;
  text-align: center;
}


#cartCount {
  border: 1px dotted white;
  padding: 8px;
}

#cartMid {
  height: 40vh;
  display: flex;
  /* margin: 0; */
}

#cartBody {
  width: 100%;
}
#cartFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px dotted white;
}

#keepShopping {
background-color: rgb(54, 54, 54);
color: white;
height: 30px;
margin: 10px 5px;
border: none;
text-decoration: none;
padding: 5;
}

#checkout {
  background-color: red;
  color: white;
  height: 30px;
  margin: 10px 5px;
  border: none;
}
 

#shipNote {
  color: rgba(255, 68, 68, 0.724);
  word-wrap: normal;
  width: 38%;
}


#cartSubTotal {
  text-align: right;
  display: flex;
  justify-content: flex-end
}

#subtotal {
width: fit-content;
padding: 0 30px 0 7px;
border-top: 1px dotted #999;
    border-left: 1px dotted #999;
}


#keepShopping:hover, #checkout:hover {
  opacity: 80%;
  cursor: pointer;
}

.tab-active {
  background-color: rgb(72, 72, 72);
}
