input {
  width: 25vw;
  position: relative;
  border-radius: 15px;
}

input::placeholder {
  text-align: center;
}

.ss-lite-button {
  background-color: transparent;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
}
