input {
  width: 20vw;
  position: relative;
  border-radius: 10px;
}

input::placeholder {
  text-align: center;
}

.ss-lite-button {
  background-color: transparent;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
}



.custom-search {
  position: relative;
  width: 18vw;
}
.custom-search-input {
  width: 100%;
  box-sizing: border-box;
}
.custom-search-botton {
  position: absolute;
  right:15px; 
  top: 8px;
  bottom: 3px;
  line-height: 1 !important;
  z-index: 4;
}

.custom-search-botton:hover {
  opacity: 60%;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }