#card {
  width: 12ch;
  height: fit-content;
  /* min-height: 15em;
  max-height: 15em; */
  background-color: rgb(85,85,85);
  margin:7px;
  /* border-radius: 30px; */
  box-shadow: 0 1px 9px 0 rgba(255, 255, 255, 0.45);
  /* font-size: 15px; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-wrap: break-word;
  padding: 3px;
  transition: 1s;
  cursor: pointer;
  text-shadow: 0 1px black;
  position: relative;
}

#overlay {
  height: 80%;
  /* width: 100%; */
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px; 
  text-align: center;
  /* opacity: 0; */
  background-color: gray;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#overlay:hover {
  opacity: 80%;
}

#viewProduct {
  text-decoration: none;
  color: white;
  
}

#viewProduct:hover, #atc:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  
}

#price {
  color: rgb(255, 255, 255);
}

#productMsrp {
  margin: 0 10px;
  text-decoration: line-through;
  color: #393939;
}
